<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><ui:insert name="windowTitle">KillThemAll</ui:insert></title>
</h:head>
<h:body>
	<h:outputStylesheet library="css" name="default.css" target="body" />

	<div class="menuAndContent">
		<div class="heading">
			<h1>KillThemAll</h1>
		</div>
		<div class="menu">
			<ui:insert name="menu">
				<ui:include src="/views/main/menu.xhtml" />
			</ui:insert>
		</div>
		<div class="content">
			<ui:insert name="content" />
		</div>
	</div>
</h:body>
</html>
