<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<div class="center">
			<h:form id="gameform">

				<h:panelGrid columns="2">

					<h:outputText value="Name: "></h:outputText>
					<h:inputText value="#{gameBean.game.name}"></h:inputText>

				</h:panelGrid>
				<h:commandButton id="button" value="Submit" action="#{gameBean.saveGame}"></h:commandButton>
				<h:panelGrid>
					<h:messages showDetail="#{true}" showSummary="#{false}" />
				</h:panelGrid>
			</h:form>
		</div>
	</ui:define>
</ui:composition>