<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="playerform">
			<h:panelGrid columns="2">
			
			<h:outputText value="Nickname: "></h:outputText>
			<h:inputText value="#{playerBean.player.nickname}"></h:inputText>
			
			<h:outputText value="Matches: "></h:outputText>
			<h:inputText value="#{playerBean.player.matches}"></h:inputText>
			
			<h:outputText value="Killratio: "></h:outputText>
			<h:inputText value="#{playerBean.player.killRatio}"></h:inputText>
			
			<h:outputText value="Nationality: "></h:outputText>
			<h:inputText value="#{playerBean.player.nationality}"></h:inputText>

			</h:panelGrid>
			
			<h:commandButton value="Submit" action="#{playerBean.savePlayer}"></h:commandButton>
				
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>