<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="tournamentform">
			<h:panelGrid columns="2">
			
			<h:outputText value="Name: "></h:outputText>
			<h:inputText value="#{tournamentBean.tournament.name}"></h:inputText>
			
			<h:outputText value="Date (dd-mm-yyyy): "></h:outputText>
			<h:inputText value="#{tournamentBean.tournament.date}">
			<f:convertDateTime pattern="dd-mm-yyyy" />
			</h:inputText>
			
			<h:outputText value="Participant Count: "></h:outputText>
			<h:inputText value="#{tournamentBean.tournament.participantCount}"></h:inputText>
			
			<h:outputText value="Place: "></h:outputText>
			<h:inputText value="#{tournamentBean.tournament.place}"></h:inputText>
			

			</h:panelGrid>
			
			<h:commandButton value="Submit" action="#{tournamentBean.saveTournament}"></h:commandButton>
				
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>