<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="playerform">
			<h:panelGrid columns="2">
				
				<h:outputText value="Nickname: " />
				<h:inputText id="nickname" value="#{playerBean.player.nickname}" />
				
				<h:outputText value="Matches: " />
				<h:inputText id="matches" value="#{playerBean.player.matches}" />
				
				<h:outputText value="Killratio: " />
				<h:inputText id="killratio" value="#{playerBean.player.killRatio}" />
				
				<h:outputText value="Nationality: " />
				<h:inputText id="nationality" value="#{playerBean.player.nationality}" />
			</h:panelGrid>

			<h:commandButton value="Change"
				action="#{playerBean.changeAll}" />
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>