<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="gameform">
			<h:panelGrid columns="2">
				
				<h:outputText value="Name: " />
				<h:inputText id="name" value="#{tournamentBean.tournament.name}" />
				
				<h:outputText value="Date: " />
				<h:inputText id="date" value="#{tournamentBean.tournament.date}">
				<f:convertDateTime pattern="dd-mm-yyyy" />
				</h:inputText>
				
				<h:outputText value="Participant Count: " />
				<h:inputText id="participantcount" value="#{tournamentBean.tournament.participantCount}" />
				
				<h:outputText value="Place: " />	
				<h:inputText id="place" value="#{tournamentBean.tournament.place}" />
			</h:panelGrid>

			<h:commandButton value="Change"
				action="#{tournamentBean.changeAll}" />
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>