<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">

	<ui:define name="content">

		<h:form>

			<h:dataTable value="#{playerBean.players}" var="item"
				styleClass="table" 
				headerClass="tableHeader"
				rowClasses="tableOddRow,tableEvenRow">
				<f:facet name="header">#{msg.personAllLabel}</f:facet>

				<h:column>
					<f:facet name="header">Id</f:facet>
        #{item.id}
      </h:column>

				<h:column>
					<f:facet name="header">Nickname</f:facet>
        #{item.nickname}
      </h:column>

				<h:column>
					<f:facet name="header">Matches</f:facet>
        #{item.matches}
      </h:column>

				<h:column>
					<f:facet name="header">Killratio</f:facet>
        #{item.killRatio}
      </h:column>

				<h:column>
					<f:facet name="header">Nationality</f:facet>
        #{item.nationality}
      </h:column>




				<h:column>
					<f:facet name="header">action</f:facet>
					<h:commandLink value="edit " action="#{playerBean.editPlayer}" />
					<h:commandLink value="delete" action="#{playerBean.deletePlayer}" />

				</h:column>
			</h:dataTable>
		</h:form>

	</ui:define>

</ui:composition>