body {
	margin: 0;
	padding: 0;
	background-color: lightGray;
	font-family: Georgia, sans-serif;
	font-size: 0.9em;
	
}

input {
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

a {
	text-decoration: none;
	color: darkgray;
}

a:hover {
	color: lightgray;
}

td {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

table {
	padding: 10px; margin-left : auto;
	margin-right: auto;
	width: 100px;
	margin-left: auto;
}

#gameform:button {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	color: green;
}

ul {
	margin: 5px;
	padding: 5px;
}

li {
	margin: 5px;
	padding: 5px;
	list-style-type: none;
	text-align: center;
	text-transform:uppercase;
}

.tableHeader {
	font-weight: bold;
}

.table {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.tableHeader, tableRow {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 0;
}

.menuAndContent {
	background-image: url(http://localhost:8080/killthemall/background.jpg);
	width: 641px;
	height: 553px;
	color: darkgray;
	float: left;
	
}

.heading {
	text-align: center;
	width: 640px;
	height: 70px;
	border-left: thin solid black;
	border-right: thin solid black;
	border-top: thin solid black;
}

.menu {
	border: thin solid black;
	width: 150px;
	height: 480px;
	float: left;
	font-weight: bold;
}

.content {
	border: thin solid black;
	width: 640px;
	height: 480px;
}