<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<div>
		<h:form>
			<ul>
				<li><h:commandLink action="home?faces-redirect=true">
						<h:outputText value="Home" />
					</h:commandLink></li>


				<li><h:commandLink action="addUser?faces-redirect=true">
						<h:outputText value="Add user" />
					</h:commandLink></li>

				<li><h:commandLink action="showUsers?faces-redirect=true">
						<h:outputText value="Show users" />
					</h:commandLink></li>

				<li><h:commandLink action="addGame?faces-redirect=true">
						<h:outputText value="Add game" />
					</h:commandLink></li>

				<li><h:commandLink action="showGames?faces-redirect=true">
						<h:outputText value="Show games" />
					</h:commandLink></li>

				<li><h:commandLink action="addPlayer?faces-redirect=true">
						<h:outputText value="Add player" />
					</h:commandLink></li>

				<li><h:commandLink action="showPlayers?faces-redirect=true">
						<h:outputText value="Show players" />
					</h:commandLink></li>

				<li><h:commandLink action="addTeam?faces-redirect=true">
						<h:outputText value="Add team" />
					</h:commandLink></li>

				<li><h:commandLink action="showTeams?faces-redirect=true">
						<h:outputText value="Show teams" />
					</h:commandLink></li>

				<li><h:commandLink action="addTournament?faces-redirect=true">
						<h:outputText value="Add tournament" />
					</h:commandLink></li>

				<li><h:commandLink action="showTournaments?faces-redirect=true">
						<h:outputText value="Show tournaments" />
					</h:commandLink></li>
			</ul>
		</h:form>
	</div>
</ui:composition>